fastapi
cartopy 
uvicorn
flask
jinja2
python-multipart
pandas
numpy
scikit-learn
xgboost
lightgbm
catboost
statsmodels
prophet
pmdarima
tsfresh
dowhy
econml
causalml
pyro-ppl
matplotlib
seaborn
plotnine
plotly
geopandas
shapely
neuro_mf
geoplot
missingno
dash
cufflinks
mplfinance
google-cloud-bigquery
pandas-gbq
mlflow
evidently==0.2.8
PyYAML
dill
sqlalchemy
pydantic
joblib
streamlit==1.29
tensorflow
torch
folium
pytrends
-e .